.carousel {
  height: 300px;

  h2 {
    height: 10%;
  }


  ul {
    display: flex;
    height: 90%;
    overflow-x: scroll;
    overflow-y: hidden;

    li {
      height: 100%;

      img {
        height: calc(100% - 20px);
        padding: 10px;
        transition: transform 0.5s ease-in-out;


      }
      img:hover {
        transform: scale(1.08);
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}