ul {
  // height: 30px;    
  li {
    list-style: none;

    // .vi
    

    // img {
      // width: 15px;
    }
  }
/*  li:hover{
    scale: (1.08);
    cursor: pointer;
  }*/
// }
.image{
/*  gap:10px;       //  espace entre les images
  display: flex;
  overflow-x: scroll;
  height: 80%;*/
}
img{
  object-fit: contain;
  max-width: 200px;
  height: 220px;


  
  

}

// .Wrapper{ 
  // width: 20px;
  // height: 15px;

// }



