.regarder{
    display: flex;
    position: absolute;
    margin-top: 7%;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  

  

    text{
        font-size: 20px;
        margin: auto;
        background: none;
       
        
    }



    
  }

.regarder:hover{
    
    background-color: rgba(0, 0, 0, 0.9);
    
}

.details .regarder img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: none;
}