.Search {
    display: flex;
    z-index: 40;
  }

  
  .Search div {
    display: flex;
  }
  
  .Search div input {
    width: 300px;
    height: 35px;
    background-color: black;
    outline: none;
    border: none;
  }
  
  .Search button {
    max-width: 30px;
    height: 35px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
  }
  
  .Search button img.loupe-icon {
    width: 25px;
    height: 23px;
  }

  