* {
  font-family: 'Helvetica Neue', sans-serif;
  background: rgb(20, 20, 20);
  color: white;

  h1 {
    font-weight: bold;
    font-size: 20px;
  }

  h2 {
    font-weight: normal;
    font-size: 20px;
  }
}
